/*this is my css style page*/
html {
    font-size: 10px; 
    
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    color: white;
    border: 15px double white;
    text-shadow: 2px 2px 1px grey;
    font-family: "tilt warp";
    background-color: lavender;
    padding: 200px;
    background-image: url('../images/pink_and_blue_unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: "ClimateCrisis", fantasy;
    
    
  }
  body {
    width: auto;
    margin: 0 auto;
    
  }
 
 
  
.toptext {
  grid-column: 1/6;
  grid-row: 1;
  position: relative;
  padding: 50px 10% 50px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.funeral {
  grid-column: 1/3;
  grid-row: 1;

}

  .sidebutton {
    position: absolute;
    top: 25%;
    right: 40px;
    border: 8px double white;
    background-color: #e87ba5;
    font-family: "Quicksand";
    font-size: 20px;
    padding: 20px;
    grid-column: 3;
    grid-row: 1;
  }

.cloud {
  grid-column: 2;
  grid-row: 1;
}

.cloudimg {
  width: 100%;
  height: auto;
}

.events {
  grid-column: 2/6;
  grid-row: 2;
  font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    background: linear-gradient(-45deg, #ee7752, #e73d7e, #23a6d5, #23D5a8);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    padding: 50px 10% 50px 10%;
}

.flowerpicture {
   grid-column: 1;
   grid-row: 2;
   height: auto;
   width: auto;
}

 .flowerimg {
    margin: 30px;
    padding: 10px;
    border: 10px double white;
    width: 200px;
    height: auto;
 }

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
 
}
div {
  font-family: "Tilt Warp", sans-serif;
}
ul li {
  font-family: "Sofia";
}
.maintext {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border: 0;
  margin: 0;
  position: relative;
  
}

.form1 {
  padding: 50px 10% 50px 10%;
}

.table_container {
  
  font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: lavender;
    padding: 100px;
    background-image: url('../images/pink_and_blue_unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;

}
td {
  border: 3px solid #f08db3;
  border-radius: 10px;
  
}
table {
  width: 100%;
  border-spacing: 0px;
  
}
th, td {
  padding: 10px;
}