html {
    font-size: 10px; 
    
    
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #43175d;
    text-shadow: 3px 3px 1px rgb(255, 255, 255);
    font-family: "Sofia";
    background-color: mediumaquamarine;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: "ClimateCrisis", fantasy;
    
    
  }
  body {
    width: 800px;
    margin: 0 auto;
    
    padding: 0 20px 20px 20px;
    border: 0px solid rgb(255, 255, 255);
    
  }
  img {
    display: block;
    margin: 0 auto;
    
  }
.events {
  font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    
}
div {
  font-family: "Tilt Warp", sans-serif;
  font-style: italic;
}
ul li {
  font-family: "Sofia";
}
.maintext {
  background-color: lavender;
  background-clip:border-box;
}