html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #43175d;
    text-shadow: 3px 3px 1px rgb(255, 255, 255);
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #eabbff;
    padding: 0 20px 20px 20px;
    border: 0px solid rgb(255, 255, 255);
  }
  img {
    display: block;
    margin: 0 auto;
  }
.events {
  font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    
}